*{
	margin:0px;
	padding:0px;
}

body{
    background: white;
    color: #C4B1B2;
}

header{
	background: #00008B;
	width: 100%;
	padding:5px 2%;
	font-size: 40px;
	font-family: Lucida Calligraphy;
}

.nombreParte1{
	color: white;
}

.nombreParte2{
	color: yellow;
}

.poder{
	color: yellow;
}

nav{
	font-size: 15px;
	line-height: 50px;
	float: right;
}

.menu{
	color: white;
	margin: 0px 5px;
	text-decoration: none;
}

.menu:hover{
	color: aqua;
}